<div class="container py-5">
    <div class="row text-center py-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Featured Product</h1>
            <p>
                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
            </p>
        </div>
    </div>
    <div class="row" *ngIf="products.length > 0; else noProducts">
        <div class="col-12 col-md-4 mb-4" *ngFor="let product of products">
            <div class="card h-100">
                <a [routerLink]="['/products', product._id]">
                    <img [src]="product.image" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                        <li class="text-muted text-right">${{product.price}}</li>
                    </ul>
                    <a [routerLink]="['/products', product._id]"
                        class="h2 text-decoration-none text-dark">{{product.name}}</a>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                    <p class="text-muted">InStock: {{product.countInStock}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProducts>
        <p>No products available</p>
    </ng-template>
    <div class="pagination" *ngIf="totalPages > 1">
        <!-- <div class="page-item" [class.active]="i === currentPage"
            *ngFor="let i of [].constructor(totalPages); let index = index" (click)="goToPage(index + 1)">
            {{index + 1}}
        </div> -->
    </div>
</div>